.gbi_widgets_LayerManager {
    position: absolute;
    top: 8px;
    right: 0px;
    z-index: 1005;
}
.gbi_widgets_LayerManager_LayerSwitcher {
    color: white;
    background-color: darkblue;
    padding-left: 15px;
    padding-right: 5px;
}

.gbi_widgets_LayerManager_LayerSwitcher ul {
    padding: 0px;
    list-style-type: none;
}

.gbi_widgets_LayerManager_LayerSwitcher li {
    list-style-type: none;
}

.gbi_widgets_LayerManager_LayerSwitcher div {
    min-width: 80px;
    display: inline-block;
}

.gbi_widgets_LayerManager_Maximize {
    background-image: url(../img/layer-switcher-maximize.png);
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    margin-top: 5px;
    float: right;
}

.gbi_widgets_LayerManager_Minimize {
    background-image: url(../img/layer-switcher-minimize.png);
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    margin-top: 5px;
    float: right;
}